@charset "UTF-8";

#wrapper {
  width: 90%;
  background: linear-gradient(135deg, #D6D58E, white);
;
}

nav li {
  display: block;
  margin: 10px 0;
}

nav {
  background-color: #D6D58E;
}

nav a {
  background-color: #9FC131;
  color: #046380;
  margin: auto;
  display: block;
  width: 60%;
  font-weight: bold;
  border:black 2px solid;
}

body {
  color: #046380;
  font-weight: bold;
  background: linear-gradient(135deg, #9FC131, white);
}

header, footer {
  background: #9FC131;
  color: #005C53;
}

.project-box1, .project-box2, .project-box3 {
  float: left;
  width: 45%;
  margin: 2.5%;
  background-color: #9FC131;
  color: #002F2F;
}
.project-box4 {
  float: none;
  width: 90%;
  margin: 5% auto;
  background-color: #9FC131;
  color: #002F2F;
}

img:hover {
  transform: none;
}

#welcome-box {
  color: #042940;
  text-shadow: none;
}

mark {
  background-color: #D6D58E;
  color: #005C53;
}
img, video {
  width: 90%;
  height: auto;
}
#resume-box {
  margin: 20px 0;
  padding: 15px;
  background: #9FC131;
  color: #005C53;
  font-weight: bold;
}

textarea {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  resize: vertical; /* Allows vertical resizing only */
}

form {
  background-color: #D6D58E;
  color: #005C53;
  box-shadow: #9FC131;
}