@charset "UTF-8";

body {
  font-size: 14px;
  background: linear-gradient(135deg, #DBF227, #E6E2AF);
}

#wrapper {
  width: 90%;
  padding: 10px;
}

nav li {
  display: block;
  margin: 20px 0;
}
nav ul {
  padding: 10px;
  margin: 10px 0;
}
nav a {
  font-size: 20px;
  font-weight: bold;
}
img, video {
  width: 90%;
  height: auto;
}

.project-box1, .project-box2, .project-box3, .project-box4 {
  float: none;
  width: 100%;
  margin: 10px 0;
  font-size: 20px;
}

textarea {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  resize: vertical; /* Allows vertical resizing only */
}